/* main styles */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

:root{
    --text-color: #1e1c2a;
    --main-color: #ffb411;
    --bg-color: #fff;

    --h2-font: 2.24rem;
    --p-font: 0.9rem;
}

section{
    padding: 50px 10%;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

/* header section */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: o;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgb(0, 0, 0, 0.1);
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    color: var(--text-color);
}

.navbar a:hover{
    color: var(--main-color);
    transition: 0.3s;
}

/* .navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s;
}

.navbar a:hover::after,
.navbar .hom-active::after{
    width: 100%;
} */

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* home secton */
.home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 20px;
}

.home-text h1{
    font-size: 60px;
    color: var(--text-color);
}

.home-text h1 span{
    color: var(--main-color);
}

.btn{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
}

.btn:hover{
    background: #fbac02;
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}
.links{
    margin-top: 15px;
}

.links a{
    font-size: 20px;
    margin-right: 1rem;
}

.links a:hover{
    color: var(--main-color);
}

.home-img img{
    width: 100%;
    border-radius: 50%;
}

/* about section */

.heading{
    text-align: center;
    padding: 40px;
}

.heading h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    text-decoration: underline;
}

.heading span{
    display: inline-block;
    font-size: 1rem;
    padding: 10px 0;
}

.about-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
}

.about-img{
    width: 500px;
}

.about-img img{
    width: 70%;
    border-radius: 20px;
}

.about-text{
    width: 50%;
}

.about-text h2{
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: var(--text-color);
}

.about-text p{
    margin: 0.8rem 0;
    color: var(--text-color);
    line-height: 2rem;
    text-align: justify;
}

/* work */

.work-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-container .box{
    padding: 40px 20px;
    background-color: rgb(16, 7, 42);
    color: #fff;
    max-width: 320px;
    text-align: center;
    margin: 16px;
}

.box-img img{
    height: 130px;
}

.box h3{
    margin-top: 16px;
    font-size: 1.3rem;
}

.box p{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 16px;
    line-height: 1.5rem;
    max-height: calc(5 * 1.5rem);
    overflow-y: auto;
}

.box a{
    color: red;
}

.box p::-webkit-scrollbar {
    width: 10px;
}

.box a:hover{
    color: #1e1c2a;
    font-size: 1.1rem;
}

.work-container .box:hover{
    transform: translateY(-10px);
    background: var(--main-color);
    transition: 0.5s;
}

/* work section */
.services-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    padding-top: 50px;
}

.services-text{
    width: 50%;
}

.services-text h2{
    font-size: 1.5rem;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 2.4rem;
}

.services-text p{
    font-size: 1rem;
    padding: 10px 0;
    color: var(--text-color);
    line-height: 2rem;
    text-align: justify;
    margin: 5px 0 18px;
}

.services-img{
    width: 320px;
    height: 500px;
}

.services-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* contact section */
.heading.color h2{
text-decoration: none;
color: #fff;
border-bottom: 3px solid #fff;
font-size: 1.8rem;
}

.color span{
    color: #fff;
}

.contact{
    background: #0a1d09e3;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form{
    width: 360px;
    margin-top: 4rem;
}

.contact-form form input,
.contact-form form textarea{
    width: 100%;
    font-size: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 12px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder{
    color: var(--text-color);
    letter-spacing: 1px;
}

.contact-form form textarea{
    resize: none;
    height: 200px;
}

.contact-button{
    max-width: 100px;
    font-weight: 600;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.app{
    max-width: 360px;
}

.app h1{
    color: #fff;
    font-size: 1.6rem;
    margin: 5px 0 24px;
}

.app i{
    color: var(--main-color);
    font-size: 45px;
    margin-right: 10px;
}

.app i:hover{
    transform: translateY(-10px);
    transition: 0,5s;
}
.creator{
    margin-bottom: 10px;
}

.copyright{
    padding: 20px;
    background-color: #0a1d09e3;
    text-align: center;
    color: #fff;
}

/* makina responsive */
@media(max-width: 768px){
    header{
        padding: 14px 8%; 
    }

    #menu-icon{
        display: initial;
        color: var(--text-color);
    }

    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0/ 10%);
        transition: 0.2s ease;
    }

    .navbar.avtive{
        top: 100%;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }

    .home-text h1{
        font-size: 30px;
    }

}

@media(max-width: 715px){
    .heeader{
        padding: 10px 16px;
    }

    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-container{
        flex-direction: column;
        gap: 20px;
    }

    .about-img{
        width: 100%;
        margin-left: 32%;
    }

    .about-text p{
        line-height: 1.5rem;
    }

    .services-container{
        flex-direction: column;
        gap: 20px;
    }

    .services-text p{
        line-height: 1.5rem;
    }
}

@media (max-width: 634px){
    .contact-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
